
.row1 {
    margin-top: 130px;
}
.rowiconos {
    margin-top: 40px;
    margin-left: -30px;
    text-align: center;
}
.descrip{
    margin-top: 50px; 
 
}
.row p{
   text-align: justify;
}
.icono {
    width: 50px;
}
.btn{
    margin-top: 20px;
}
#navbarSupportedContent{
    margin-left: 280px;
}

@media(max-width: 767px){
    #navbarSupportedContent{
       text-align: center;
       margin-left: 0px;
    }    
}
.footer p{
    text-align: center;
}
.footer h6{
    text-align: center;
}
.card1{
    margin-top: 200px;
}
.infocaba{
    padding-right: 100PX;
    padding-left: 100px;
}
.colorText{
    font-family:Verdana, Geneva, Tahoma, sans-serif
    
}
.span1{
    color: #9f8054;
}


a.icon12{
    margin-left: 40px;
    
}