
.row1 {
    margin-top: 130px;
}
.rowiconos {
    margin-top: 40px;
    margin-left: -30px;
    text-align: center;
}
.descrip{
    margin-top: 50px; 
 
}
.row p{
   text-align: justify;
}
.icono {
    width: 50px;
}
.btn{
    margin-top: 20px;
}
#navbarSupportedContent{
    margin-left: 280px;
}

@media(max-width: 767px){
    #navbarSupportedContent{
       text-align: center;
       margin-left: 0px;
    }    
}
.footer p{
    text-align: center;
}
.footer h6{
    text-align: center;
}
.card1{
    margin-top: 200px;
}
.infocaba{
    padding-right: 100PX;
    padding-left: 100px;
}
.colorText{
    font-family:Verdana, Geneva, Tahoma, sans-serif
    
}
.span1{
    color: #9f8054;
}


a.icon12{
    margin-left: 40px;
    
}



.accordion-button 
{
    background-color:#9f8054;
    
}

.mapouter{
  margin-right: 100px;
}


/* efectos inicio */

.box {
    background: white;
    margin: auto;
    margin-top: 5%;
    width: 60%;
 
    padding: 20px 50px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }

  .box.horario {
    background: white;
    margin: auto;
    margin-top: 5%;
    width: 80%;
    max-width: 90%;
 
    padding: 20px 50px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }

  .box.mapa {
    background: white;
    margin: auto;
    margin-top: 5%;
    width: 65%;
    max-width: 90%;
 
    padding: 20px 50px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    overflow: hidden;
  }
  
  .box:hover {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    animation-name: example;
    animation-duration: 0.25s;
    border-left: 8px solid  #9f8054;
    box-shadow: 0 14px 28px rgba(0,0,0,0.5), 0 10px 10px rgba(0,0,0,0.22);
  }
  
  button {
    border:none;
    background: #9f8054;
    color: #f0f0f2;
    border-radius: 5px;
    padding: 5px;
  }
  
  button:hover {
    border-right: 2px solid black;
    transform: translate(1rem, 0);
 
  }
  
  h1 {
    text-transform: uppercase;
    
  }
  
  p {
    text-align: justify;
  }
  
  @keyframes example {
      0%   {border-left: 2px solid #ffffff;}
      25%  {border-left: 3px solid #ffe6e6;}
      50%  {border-left: 4px solid #c0a177}
      100% {border-left: 5px solid #b99563;}
  }